In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
data = pd.read_csv("country_vaccination_stats.csv")

In [3]:
data.columns

Index(['country', 'date', 'daily_vaccinations', 'vaccines'], dtype='object')

In [4]:
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [5]:
data.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
data = data.fillna(0)

In [7]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,0.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [8]:
data.groupby("country")

In [10]:
data["country"].unique()

array(['Argentina', 'Italy', 'Israel', 'Isle of Man', 'Ireland',
       'Indonesia', 'India', 'Iceland', 'Hungary', 'Greece', 'Gibraltar',
       'Germany', 'France', 'Finland', 'Estonia', 'England', 'Ecuador',
       'Denmark', 'Czechia', 'Cyprus', 'Croatia', 'Costa Rica', 'China',
       'Chile', 'Canada', 'Bulgaria', 'Latvia', 'Brazil', 'Lithuania',
       'Malta', 'Wales', 'United States', 'United Kingdom',
       'United Arab Emirates', 'Turkey', 'Switzerland', 'Sweden', 'Spain',
       'Slovenia', 'Slovakia', 'Singapore', 'Seychelles', 'Serbia',
       'Scotland', 'Saudi Arabia', 'Russia', 'Romania', 'Portugal',
       'Poland', 'Panama', 'Oman', 'Norway', 'Northern Ireland',
       'Netherlands', 'Mexico', 'Luxembourg', 'Belgium', 'Kuwait',
       'Bahrain', 'Austria'], dtype=object)

In [9]:
data = data.sort_values("daily_vaccinations")

In [11]:
country_median =data.groupby("country").median()

In [12]:
country_median=country_median.sort_values("daily_vaccinations",ascending=False)

In [13]:
country_median

                      daily_vaccinations
country
United States                   378253.0
China                           276786.0
India                           173922.0
Turkey                          150356.0
United Kingdom                  120409.0
England                         107310.5
Israel                           92587.0
United Arab Emirates             86430.0
Spain                            55238.0
Germany                          51184.0
Italy                            44475.5
France                           41496.0
Russia                           23563.0
Poland                           22702.5
Brazil                           17220.0
Saudi Arabia                     16807.5
Indonesia                        13200.0
Romania                          13030.0
Argentina                        11645.0
Canada                           11044.0
Austria                           7850.0
Denmark                           7095.5
Netherlands                       6762.0
Ireland                           6528.0
Portugal                          5944.0
Scotland                          5821.0
Mexico                            5488.0
Hungary                           5464.5
Sweden                            5382.5
Czechia                           5378.0
Slovakia                          5357.0
Greece                            5290.0
Singapore                         4907.0
Bahrain                           3662.0
Belgium                           3606.0
Switzerland                       3000.0
Norway                            2958.0
Serbia                            2920.0
Croatia                           2485.0
Slovenia                          2374.0
Wales                             2198.0
Northern Ireland                  2135.0
Finland                           2035.5
Lithuania                         1933.5
Panama                            1324.0
Chile                             1291.0
Oman                              1192.0
Estonia                           1043.0
Bulgaria                          1010.0
Seychelles                        1000.0
Gibraltar                          713.0
Cyprus                             708.0
Costa Rica                         675.5
Latvia                             592.0
Malta                              407.5
Isle of Man                        138.0
Luxembourg                          88.0
Iceland                             63.0
Ecuador                             54.0
Kuwait                               0.0

In [14]:
country_median.head(3)

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0