In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
data = pd.read_csv("country_vaccination_stats.csv")

In [3]:
data.columns

Index(['country', 'date', 'daily_vaccinations', 'vaccines'], dtype='object')

In [4]:
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [5]:
data.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
data = data.fillna(0)

In [7]:
data.iloc[77]

country                       Belgium
date                       12/28/2020
daily_vaccinations                0.0
vaccines              Pfizer/BioNTech
Name: 77, dtype: object

In [8]:
data.groupby("country")

In [9]:
data["country"].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

In [10]:
data = data.sort_values("daily_vaccinations")

In [11]:
data.iloc[720]

country                                Czechia
date                                  1/9/2021
daily_vaccinations                      4832.0
vaccines              Moderna, Pfizer/BioNTech
Name: 337, dtype: object

In [12]:
country_median =data.groupby("country").median()

In [13]:
country_median=country_median.sort_values("daily_vaccinations",ascending=False)

In [14]:
country_median

                      daily_vaccinations
country
United States                   378253.0
China                           276786.0
India                           173922.0
Turkey                          150356.0
United Kingdom                  120409.0
England                         107310.5
Israel                           92587.0
United Arab Emirates             86430.0
Spain                            55238.0
Germany                          51184.0
Italy                            44475.5
France                           41496.0
Russia                           23563.0
Poland                           22702.5
Brazil                           17220.0
Saudi Arabia                     16807.5
Indonesia                        13200.0
Romania                          13030.0
Argentina                        11645.0
Canada                           11044.0
Austria                           7850.0
Denmark                           7095.5
Netherlands                       6762.0
Ireland                           6528.0
Portugal                          5944.0
Scotland                          5821.0
Mexico                            5488.0
Hungary                           5464.5
Sweden                            5382.5
Czechia                           5378.0
Slovakia                          5357.0
Greece                            5290.0
Singapore                         4907.0
Bahrain                           3662.0
Belgium                           3606.0
Switzerland                       3000.0
Norway                            2958.0
Serbia                            2920.0
Croatia                           2485.0
Slovenia                          2374.0
Wales                             2198.0
Northern Ireland                  2135.0
Finland                           2035.5
Lithuania                         1933.5
Panama                            1324.0
Chile                             1291.0
Oman                              1192.0
Estonia                           1043.0
Bulgaria                          1010.0
Seychelles                        1000.0
Gibraltar                          713.0
Cyprus                             708.0
Costa Rica                         675.5
Latvia                             592.0
Malta                              407.5
Isle of Man                        138.0
Luxembourg                          88.0
Iceland                             63.0
Ecuador                             54.0
Kuwait                               0.0

In [15]:
data = pd.read_csv("country_vaccination_stats.csv")

In [16]:
null_index=data[data["daily_vaccinations"].isnull()==True].index

In [17]:
null_index

Int64Index([   0,   28,   48,   77,  103,  113,  141,  184,  217,  254,  280,
             307,  324,  354,  384,  386,  422,  451,  477,  499,  528,  543,
             572,  600,  627,  638,  652,  677,  682,  720,  750,  751,  780,
             812,  838,  866,  899,  916,  959,  988, 1016, 1022, 1050, 1079,
            1108, 1138, 1150, 1193, 1211, 1226, 1238, 1256, 1278, 1300, 1322,
            1352, 1365, 1386, 1422, 1459],
           dtype='int64')

In [18]:
country_median.loc["Turkey"]["daily_vaccinations"]

150356.0

In [25]:
for index in null_index:
    sehir = data.iloc[index]["country"]
    data["daily_vaccinations"].iloc[index] = country_median.loc[sehir]["daily_vaccinations"]

C:\Users\ALPPC\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [26]:
data.iloc[48]

country                                  Bahrain
date                                  12/23/2020
daily_vaccinations                        3662.0
vaccines              Pfizer/BioNTech, Sinopharm
Name: 48, dtype: object

In [23]:
data.head(50)

      country        date  daily_vaccinations                    vaccines
0   Argentina  12/29/2020             11645.0                   Sputnik V
1   Argentina  12/30/2020             15656.0                   Sputnik V
2   Argentina  12/31/2020             15656.0                   Sputnik V
3   Argentina    1/1/2021             11070.0                   Sputnik V
4   Argentina    1/2/2021              8776.0                   Sputnik V
5   Argentina    1/3/2021              7400.0                   Sputnik V
6   Argentina    1/4/2021              6483.0                   Sputnik V
7   Argentina    1/5/2021              7984.0                   Sputnik V
8   Argentina    1/6/2021              8173.0                   Sputnik V
9   Argentina    1/7/2021              8363.0                   Sputnik V
10  Argentina    1/8/2021             10519.0                   Sputnik V
11  Argentina    1/9/2021             11942.0                   Sputnik V
12  Argentina   1/10/2021             13365.0                   Sputnik V
13  Argentina   1/11/2021             14788.0                   Sputnik V
14  Argentina   1/12/2021             14056.0                   Sputnik V
15  Argentina   1/13/2021             13323.0                   Sputnik V
16  Argentina   1/14/2021             13320.0                   Sputnik V
17  Argentina   1/15/2021             13317.0                   Sputnik V
18  Argentina   1/16/2021             12971.0                   Sputnik V
19  Argentina   1/17/2021             12624.0                   Sputnik V
20  Argentina   1/18/2021             12278.0                   Sputnik V
21  Argentina   1/19/2021             11932.0                   Sputnik V
22  Argentina   1/20/2021             11586.0                   Sputnik V
23  Argentina   1/21/2021             11704.0                   Sputnik V
24  Argentina   1/22/2021             11263.0                   Sputnik V
25  Argentina   1/23/2021             11124.0                   Sputnik V
26  Argentina   1/24/2021             10342.0                   Sputnik V
27  Argentina   1/25/2021              9046.0                   Sputnik V
28    Austria    1/5/2021              7850.0             Pfizer/BioNTech
29    Austria    1/6/2021              3368.0             Pfizer/BioNTech
30    Austria    1/7/2021              3368.0             Pfizer/BioNTech
31    Austria    1/8/2021              7263.0             Pfizer/BioNTech
32    Austria    1/9/2021              5791.0             Pfizer/BioNTech
33    Austria   1/10/2021              4705.0             Pfizer/BioNTech
34    Austria   1/11/2021              5031.0             Pfizer/BioNTech
35    Austria   1/12/2021              6366.0             Pfizer/BioNTech
36    Austria   1/13/2021              7365.0             Pfizer/BioNTech
37    Austria   1/14/2021              8429.0             Pfizer/BioNTech
38    Austria   1/15/2021              7747.0             Pfizer/BioNTech
39    Austria   1/16/2021              7953.0             Pfizer/BioNTech
40    Austria   1/17/2021             10129.0             Pfizer/BioNTech
41    Austria   1/18/2021             11852.0             Pfizer/BioNTech
42    Austria   1/19/2021             12472.0             Pfizer/BioNTech
43    Austria   1/20/2021             12489.0             Pfizer/BioNTech
44    Austria   1/21/2021             12552.0             Pfizer/BioNTech
45    Austria   1/22/2021             11797.0             Pfizer/BioNTech
46    Austria   1/23/2021             11765.0             Pfizer/BioNTech
47    Austria   1/24/2021              9622.0             Pfizer/BioNTech
48    Bahrain  12/23/2020              3662.0  Pfizer/BioNTech, Sinopharm
49    Bahrain  12/24/2020             11106.0  Pfizer/BioNTech, Sinopharm